<h1>
  Edit progress photo #<%= @progress_photo.id %>
</h1>

<hr>

<form action="/update_progress_photo/<%= @progress_photo.id %>" method="post" enctype="multipart/form-data">


  <div class="form-group">
    <label for="comment">
      Comment
    </label>

    <textarea id="comment" name="comment" class="form-control" rows="3"><%= @progress_photo.comment %></textarea>
  </div>

  <div class="form-group">
    <label for="picture">
      Picture
    </label>

    <%= cl_image_tag(@progress_photo.picture.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="picture" name="picture" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update progress photo
  </button>
</form>

<hr>

<a href="/progress_photos">
  Go back
</a>
