<form action="/create_development_from_action" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @development.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="trigger">
      Trigger
    </label>

    <textarea id="trigger" name="trigger" class="form-control" rows="3"><%= @development.trigger %></textarea>
  </div>

  <input type="hidden" name="action_id" value="<%= @action.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create development
  </button>
</form>
