<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Developments

    <a data-toggle="collapse" href="#action_developments_new_form">
      Add development
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @action.developments.each do |development| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/developments/<%= development.id %>">
          <%= development.id %>
        </a>

        <a href="/delete_development_from_action/<%= development.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="action_developments_new_form">
        <%= render partial: "action_templates/action_developments_new_form" %>
      </div>
    </div>

  </ul>
</div>
