<h1>
  Edit action #<%= @action.id %>
</h1>

<hr>

<!-- Form action start -->
<form action="/update_action/<%= @action.id %>" method="post">
<!-- Form action end -->

  <!-- Label and input for action_type start -->
  <div class="form-group">
    <label for="action_type">
      Action type
    </label>

    <!-- Input for action_type start -->
    <input type="text" id="action_type" name="action_type" class="form-control" value="<%= @action.action_type %>">
    <!-- Input for action_type end -->
  </div>
  <!-- Label and input for action_type end -->

  <button class="btn btn-block btn-outline-secondary">
    Update action
  </button>
</form>

<hr>

<a href="/actions">
  Go back
</a>
