<% if @action.errors.any? %>
  <% @action.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit action #<%= @action.id %>
</h1>

<hr>

<form action="/update_action/<%= @action.id %>" method="post">

  <div class="form-group">
    <label for="action_type">
      Action type
    </label>

    <input type="text" id="action_type" name="action_type" class="form-control" value="<%= @action.action_type %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update action
  </button>
</form>

<hr>

<a href="/actions">
  Go back
</a>
